<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>
        
        <title>Webpacked Bootstrapped Angular 2 DSpace UI</title>
        <meta charset="utf-8"/>
        <title></title>

        <base href="/">

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        <dspace>Loading...</dspace>
    </body>

    <script src="dist/vendor.bundle.js"></script>
    <script src="dist/app.bundle.js"></script>

    <script src="dist/bootstrap.bundle.js"></script>
    <script src="dist/styles.bundle.js"></script>

</html>