<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <script>
            window.prerenderReady = false;
        </script>

        <meta name="fragment" content="!">

        <base href="/">
                
        <title>TAMU DSpace UI</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>
        <dspace>Loading...</dspace>
    </body>

    <script src="dist/vendor.bundle.js"></script>
    <script src="dist/app.bundle.js"></script>

    <script src="dist/bootstrap.bundle.js"></script>
    <script src="dist/styles.bundle.js"></script>

</html>