
html, body {
    height: 100%;
    margin: 0;
}

.space-top {
    margin-top: 6px;
}

.space-right {
    margin-right: 10px;
}

.list-group .list-group-item .glyphicon {
    margin-right: 10px;
    margin-top: 5px;
}

.clickable {
    cursor: pointer;
}

.form-inline select {
    margin-left: 15px;
}

.thumbnail-placeholder {
    width: 93px;
    height: 120px;
}


.validation-helper {
    margin-left: 5px;
}

.form-modal {
    opacity: 0;
    display: none;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.form-modal-fadein {
    opacity: 1;
    display: block;
}

.form-loader {
    text-align: center;
    margin-bottom: 5px;
}

.loader-message {
    text-align: center;
    margin-bottom: 5px;
}

.loader-gif {
    text-align: center;
    margin-bottom: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* sidebar theming */

.sidebar-edit-section{
    border: 1px solid #ddd;
    margin-bottom:40px;
}

.sidebar-child div > .sidebar-section > ul >  li > .sidebar-child{
    padding-left:15px;
}

.sidebar-heading{
    border:1px solid #ddd;
    border-bottom:none;
    background-color: #f5f5f5;
    padding: 10px 15px;
}

.sidebar-menu{
    margin-top:10px;
}

.sidebar-section {
  /*  margin-bottom: 40px; */
}

.sidebar-section ul {
    list-style: none;
    padding: 0;
}

.sidebar-section ul li > * {
    display: block;
    padding: 0 0 0 15px;
}
.sidebar-section > .sidebar-simple-section-element {
    color: #fff;
    background-color: #222;
    border-color: #080808;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.sidebar-section > ul {
    background-color: transparent;
}
.sidebar-section > ul > li {
    border: 1px solid #ddd;
    border-bottom:none;
   /* border-top: 0;*/
}

.sidebar-section > ul > li:last-child{
    border-bottom:1px solid #ddd;
}

.sidebar-section > ul > li:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.sidebar-section > ul > li > * {
    padding-left: 0;
}
.sidebar-section .sidebar-simple-section-element a, .sidebar-section .sidebar-simple-section-element span {
    padding: 10px 15px;
    display: block;
    background-color: transparent;
}
.sidebar-section .sidebar-simple-section-element a:hover, .sidebar-section .sidebar-simple-section-element a:focus, .sidebar-section .sidebar-simple-section-element span:hover, .sidebar-section .sidebar-simple-section-element span:focus {
    text-decoration: none;
}

.sidebar-child{
    background-color:white;
}
.sidebar-link{
    color: #337ab7;
}

/** File Upload theming **/
.file-drop-zone {
    border: dotted 3px lightgray;
}
.file-over-drop-zone {
    border: dotted 3px red;
}

/* bootstrap overrides */

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.list-group {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0;
}

.pagination {
    display: inherit;
}

.item-list-row{
    margin-bottom: 20px;
}

.item-list-url{
    font-size:16px;
}

/***********************/
