

html, body {
    height: 100%;
    margin: 0;
}

.space-right {
    margin-right: 10px;
}

.list-group .list-group-item .glyphicon {
	margin-right: 5px;
}

.clickable {
	cursor: pointer;
}

.form-inline select {
	margin-left: 15px;
}

.thumbnail-placeholder {
    width: 93px;
    height: 120px;
}

/* bootstrap overrides */

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.list-group {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0;
}

.pagination {
    display: inherit;
}

/***********************/
