
html, body {
    height: 100%;
    margin: 0;
}

.space-top {
    margin-top: 6px;
}

.space-right {
    margin-right: 10px;
}

.list-group .list-group-item .glyphicon {
    margin-right: 10px;
    margin-top: 5px;
}

.clickable {
    cursor: pointer;
}

.form-inline select {
    margin-left: 15px;
}

.thumbnail-placeholder {
    width: 93px;
    height: 120px;
}


.validaiton-helper {
    margin-left: 5px;
}

.form-modal {
    opacity: 0;
    display: none;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.form-modal-fadein {
    opacity: 1;
    display: block;
}

.form-loader {
    text-align: center;
    margin-bottom: 5px;
}

.loader-message {
    text-align: center;
    margin-bottom: 5px;
}

.loader-gif {
    text-align: center;
    margin-bottom: 5px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* bootstrap overrides */

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.list-group {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0;
}

.pagination {
    display: inherit;
}

.item-list-row{
    margin-bottom: 20px;
}

.item-list-url{
    font-size:16px;
}

/***********************/
