$footer-border-color: $navbar-default-border;
$footer-height: 5em;
$footer-margin-top: 3em;
$footer-font-size: $font-size-h5;
$footer-text-color: $gray;
$footer-bg-color: $navbar-default-bg;

footer {
    font-size: $footer-font-size;
    border-top: 1px solid $footer-border-color;
    padding-top: 25px;
    color: $footer-text-color;
    background-color: $footer-bg-color;

    a {
        &,
        &:hover,
        &:focus {
            color: $footer-text-color;
            text-decoration: underline;
        }
    }

    @media(max-width: $screen-xs-max) {
        text-align: center;
    }

    @media(max-width: 359px) {
        font-size: 12px;
    }
}

//sticky footer
.sticky-footer-wrapper {
    position: relative;
    min-height: 100vh;
}

.sticky-footer-everything-else {
    padding: 0 0 $footer-height + $footer-margin-top !important;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: $footer-height;
}

