th,
dt,
label {
    font-weight: 600;
}

.ion-icon {
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.page-header {
    margin-top: 0;
}

main {
    margin-top: $grid-gutter-width;
}