.hierarchy-list-group {
	list-style-type: none;
	margin-top: 10px;
	font-size: large;
	font-weight: 775;
}

.hierarchy-list-group-item {
	margin-bottom: 10px;
	color: green;
}

.hierarchy-badge {
	margin-left: 10px;
}

.hierarchy-short-description {
	color: grey;
	font-size: medium;
	font-weight: 225;
	margin-left: 27px;
}