.hierarchy-list-group {
	list-style-type: none;
	margin-top: 10px;
	font-size: 20px;
}

.hierarchy-list-group-item {
	margin-bottom: 10px;
	color: green;
}

.hierarchy-badge {
	margin-left: 10px;
}

.hierarchy-short-description {
	color: grey;
	font-size: 16px;
	margin-left: 30px;
}