.hierarchy-list-group {
	margin-top: 10px;
	list-style-type: none;
	font-size: large;
	font-weight: 750;
}

.hierarchy-list-group-item {
	color: green;
	margin-bottom: 10px;
}

.hierarchy-badge {
	margin-left: 10px;
}

.hierarchy-short-description {
	font-size: medium;
	font-weight: 250!;
	margin-left: 25px;
}