//$sidebar-background-color: #1c2939;
$sidebar-background-color: #2B3539;
$sidebar-light-border-color: lighten($sidebar-background-color, 7%);
$sidebar-dark-border-color: darken($sidebar-background-color, 7%);
$sidebar-body-border-color: darken($sidebar-background-color, 3%);
$sidebar-heading-color: $gray-lighter;
$sidebar-text-color: $gray-light;
$sidebar-subsection-bg-color: rgba(255,255,255, 0.04);


.sidebar {
    background: $sidebar-background-color;
    display: block;
    height: 100%;
    min-height: 100vh;
    @include box-shadow(inset 0 6px 12px rgba(0,0,0,.175));
}

.sidebar-open-sidebar,
.sidebar-closed-sidebar {
    position: fixed;
    @extend  .col-xs-12, .col-sm-4, .col-lg-3
}

.sidebar-open-content {
    @extend .hidden-xs, .col-sm-8, .col-sm-offset-4, .col-lg-9, .col-lg-offset-3
}

.sidebar-closed-content {
    @extend .col-xs-12;
}

.sidebar-slider {
    background: $body-bg;
    position: relative;

    &.sidebar-slider-animating {
        @include transition(width 0.3s, margin 0.3s);

        @media(max-width: $screen-xs-max) {
            display: block !important;
            &.sidebar-open-content {
                margin-left: 100%;
                margin-right: -100%;
            }
            &.sidebar-closed-content {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
}

.sidebar-header {
    border-bottom: 1px solid $sidebar-light-border-color;
    position: relative;
    z-index: $zindex-navbar-fixed;

    .sidebar-header-content {
        margin: 0;
        border-bottom: 1px solid $sidebar-dark-border-color;
    }

    .dropdown.open {
        background: $sidebar-dark-border-color;
    }

    .sidebar-header-element {
        display: block;
        padding: $nav-link-padding;
        padding-top:    $navbar-padding-vertical;
        padding-bottom: $navbar-padding-vertical;
        line-height: $line-height-computed;

        &,
        &:hover,
        &:focus {
            color: $sidebar-heading-color;
            text-decoration: none;
        }
    }

    .navbar-inverse {
        background: transparent;
        border-bottom: 1px solid $sidebar-dark-border-color;

        .navbar-nav {
            float: none;
            width: 100%;
            margin: 0;
        }
    }

    .icon-arrow-down {
        font-size: 12px;
    }
}

.sidebar-header-btn {
    float: none;
    width: 50%;
    display: inline-block;
    overflow: hidden;
    text-align: center;

    &.has-right-border {
        border-right: 1px solid $sidebar-dark-border-color;
    }
    &.has-left-border {
        border-left: 1px solid $sidebar-light-border-color;
    }
}

.sidebar-close-button {
    font-size: 20px;
}

.sidebar-scroller {
    top: $navbar-height;
    //padding-top: $line-height-computed * 3;
    padding-top: 53px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow: auto;
}


.sidebar-section {
    color: $sidebar-text-color;
    display: block;
    background: $sidebar-subsection-bg-color;

    .panel {
        background: transparent;
        border: none;
        margin: 0;
        @include box-shadow(none);

        .panel-body {
            //padding: 0 0 0 $panel-body-padding;
            padding: 0;
        }
    }

    & > .panel {
        border-bottom: 1px solid $sidebar-light-border-color;

        > .sidebar-heading {
            background: $sidebar-background-color;
            padding-top: 20px;
            padding-bottom: 20px;
            border: none;

            .panel-title {
                color: $sidebar-heading-color;
            }
        }
    }

    .sidebar-link a {
        display: block;
        padding:    $panel-body-padding;
        padding-left:    $panel-body-padding * 2;
        line-height: $line-height-computed;
        background: $sidebar-subsection-bg-color;

        &,
        &:hover,
        &:focus {
            color: $sidebar-text-color;
            text-decoration: none;
        }

        &:hover {
            padding-left: ($panel-body-padding * 2) - 4px;
            border-left: 4px solid $brand-info;
            background: transparent;
        }
    }

    ul {
        list-style: none;
        margin: 0;
    }

    & > ul {
        padding: 0;
    }

    .sidebar-child {
        display: block;

        .sidebar-heading {
            border: none;
            background: $sidebar-subsection-bg-color;
            .panel-title {
                padding-left:    $panel-body-padding;
                color: $sidebar-heading-color;
            }
        }

        .sidebar-child {
            background: $sidebar-subsection-bg-color;
            .sidebar-link a {
                padding-left:    $panel-body-padding * 3;
                &:hover {
                    padding-left: ($panel-body-padding * 3) - 4px;

                }
            }
        }
    }
}