

html, body {
    height: 100%;
    margin: 0;
}

.clickable:hover {
	cursor: pointer;
}

.list-group .list-group-item .glyphicon {
	margin-right: 5px;
}


/* bootstrap overrides */
.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.list-group {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0;
}
/***********************/

.space-right {
    margin-right: 10px;
}

.fade {
    display: none;
}

.in {
    display: block;
}

.login {
    border-radius: 5px;
    border: solid;
    border-width: 1px;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
    right: 0;
    position: absolute;
}


ul.breadcrumb {
	margin-top:20px;
}