<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="/static/favicon.ico">
        <base href="/">
        <title></title>
        <!-- Include Bootstrap styles (these styles also reference bootstrap fonts) -->
        <link href="./static/css/bootstrap.min.css" rel="stylesheet">
        <!-- Include local override styles -->
        <link href="./static/css/styles.css" rel="stylesheet">
    </head>
    <body>
        <dspace>Loading...</dspace>
    </body>
    <!-- Our compiled client-side application -->
    <script async src="app.bundle.js"></script>
</html>
