<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
        <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
        <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
        <title></title>
    </head>
    <body>
        <dspace>Loading...</dspace>
    </body>
    <script async src="dist/app.bundle.js"></script>
    <script async src="dist/bootstrap.bundle.js"></script>
    <script async src="dist/styles.bundle.js"></script>
</html>
